<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Site.Title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-css-reset/dist/reset.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">


    {{ $stylesheet := resources.Get "css/main.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">
    <link rel="icon" type="image/png" href="/images/dale.png" />
</head>
<body>

    <section>
        {{ .Content }}
    </section>

</body>

</html>
